.text-area {
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.text-area:focus {
    -fx-border-color: blue; /* Colore del bordo quando il TextArea è attivo */
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, blue, 10, 0, 0, 0); /* Ombra per l'effetto neon */
}

.button {
    -fx-background-color: #4CAF50; /* Verde */
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-padding: 10 20;
    -fx-font-size: 14px;
    -fx-cursor: pointer;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.button:hover {
    -fx-background-color: #45a049;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}

.button:pressed {
    -fx-background-color: #388E3C;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-rotate: 5deg;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0, 0, 2);
}
